@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;700;800&display=swap');
* { 
	font-family: 'Nunito Sans', sans-serif;
}

.bg-dark-theme{
	background-color: #051926;
}

.btn-rounded{
	border-radius: 3em;
}

.search{
	background-color: #ffffff;
	width: 360px;
	border-radius: 25px;
	font-family: 'Nunito';
	font-size: 14px;
	height: 48px;
	padding-left: 30px;
	border: 2px solid #485afe;
}

.bg-dark-blue{
	background-color: #1B2672;
}

.input-mc{
	background: transparent;
	color: #fff;
	border: 0;
    border-bottom: 1px solid white;
}

.input-mc:focus {
    color: #fff;
    background: transparent;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.btn-menu{
	background-color: #3c59ff;
	color: #ffffff;
	text-transform: capitalize;
	cursor: pointer;
	font-size: 16px;
	padding: 13px 30px;
    line-height: normal;
    margin: 0;
    -webkit-border-radius: 50px;
	font-weight: 700;
}

.btn-outline-theme{
	    border: 2px solid #3F51B5;
    border-radius: 27px;
    font-family: 'Nunito', sans-serif;
    color: #3F51B5;
    font-size: 18px;
    font-weight: 700;
}

.btn-outline-theme:hover{
	background: #1b2771;
	color: #fff;
    border-color: #1b2771;
}

.megamenu-li {
	position: static;
}

.megamenu {
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	padding: 15px;
}

.wave-container {
  background-position: center;
    background-size: cover;
  background-image: url('../img/6.jpg');
  overflow: hidden;
}

.card{
	border: none;
}

.input-mc {
    background-color: transparent;
    border-bottom: 1px solid #ffffff;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    color: #ffffff;
    font-weight: 300;
    height: 45px;
    width: 85%;
}

.btn-subscribe{
	background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 25px;
    color: #ffffff;
    height: 50px;
    line-height: 32px;
    width: 190px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}

.btn-subscribe:hover{
	background-color: #fff;
	color: #1b2771;
}

.navbar{
	box-shadow:  1px 12px 13px 2px rgba(5, 25, 37, 0.2);
}


.parallax {
  /* The image used */
  background-image: url("../img/home/2.png");

  /* Set a specific height */
  min-height: 600px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-fluid{
	max-width: 1368px;
}

.social-links a {
	color: #626b74;
}

.social-links a:hover {
	color: #fff;
	text-decoration: none;
}

.footer-links{
	list-style: none;
}
